<h1><%= @task.name%> </h1>

<p> Who let the douche out? </p>

<%= link_to "Edit Task info", edit_task_path %>
<%= link_to "Back to start page", tasks_path %>

<%= link_to "Delete", task_path, method: :delete %>
