<h1><%= @user.name%> </h1>

<p> Who let the douche out? </p>

<%= link_to "Edit user info", edit_user_path %> 
<%= link_to "Back to start page", users_path %>

<%= link_to "Delete", user_path, method: :delete %>
