<h1><%= @user.name%> </h1>

<p> Who let the douche out? </p>

<div class="btn btn-info">
	<%= link_to "Edit user info", edit_user_path %> 
</div>
<div class="btn btn-success">
	<%= link_to "Back to users list", users_path %>
</div>

<div class="btn btn-danger">
	<%= link_to "Delete", user_path, method: :delete %>
</div>